<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 可以加入一些公共、常用的MyBatis方面的全局配置。 如handler、objectFactory、plugin、以及mappers的映射路径 （由于在spring配置文件spring.xml中的SqlSessionFactoryBean有配置mapper的location，这里就不需要配置）等 -->

	<typeAliases>
		<package name="com.igame.security.entity" />
	</typeAliases>

</configuration>